/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --white: #FFFFFF;
    --white-background: #F8F8F8;
    --gray-border: #CED0D4;
    --gray-tag: #C4C4C4;
    --gray-line: #DCDCDC;
    --gray-dark-text: #3F3F3F;
    --gray-blue: #bbcae1;
    --black: #000000;
    --black-background: #121212;
    --gray-dark-background: #3E3E42;
    --light-blue: #83eeff;
    --dark-blue: #13043b;
    --horaplus-blue: #3b9ceb;
    --interaction-blue: #1A73E8;
    --material-blue: #3F51B5;
    --interaction-red: #DD3333;
    --red-fire: #FF0000;
    --red-error: #DC3545;
    --green-price: #20EE20;
    --green-success: #1DE9B6;
}

body {
    font-family: Poppins, Roboto, sans-serif !important;
    margin: 0;
    height: 100%;
    background-color: var(--white-background);
}

.form-control {
    padding: 12px;
    border: 1px solid rgba(29, 60, 80, 0.6);
}

.validation-error {
    color: var(--red-error);
    margin-top: -10px;
}

.row {
    margin-left: 0px !important;
}

.row>* {
    padding-left: 0 !important;
}

.snackbar-success {
    background: var(--green-success) !important;
}

.snackbar-error {
    background: var(--red-error);
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.mat-spinner {
    ::ng-deep circle {
        stroke: #33dd82;
    }
}

.input-group-text {
    background-color: var(--dark-blue);
    color: var(--gray-blue);
    opacity: 1 !important;
    border: 1px solid rgba(29, 60, 80, 0.6);
}

.btn-autentication {
    background-color: var(--dark-blue);
    color: var(--gray-blue);
    opacity: 0.9;
}

.btn-autentication:hover {
    background-color: var(--dark-blue);
    color: var(--gray-blue);
    border: var(--horaplus-blue);
    opacity: 1;
}

.validation-error {
    color: var(--red-error);
    margin-top: -0.9rem;
    text-align: left;
    padding-left: 2.6rem;
  }