/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --white: #FFFFFF;
    --white-background: #F8F8F8;
    --gray-border: #CED0D4;
    --gray-tag: #C4C4C4;
    --gray-line: #DCDCDC;
    --gray-dark-text: #3F3F3F;
    --gray-text: #B1BAC5;
    --gray-blue: #bbcae1;
    --black: #000000;
    --black-background: #121212;
    --gray-dark-background: #3E3E42;
    --light-blue: #83eeff;
    --dark-blue: #13043b;
    --horaplus-blue: #3b9ceb;
    --horaplus-dark-blue: #1E3A8A;
    --interaction-blue: #1A73E8;
    --material-blue: #0D6EFD;
    --interaction-red: #DD3333;
    --red-fire: #FF0000;
    --red-error: #DC3545;
    --green-price: #20EE20;
    --green-success: #1DE9B6;
    --dark-primary: #212529;
    --dark-secondary: #343A40;
}

body {
    font-family: Roboto;
    margin: 0;
    height: 100%;    
}

.snackbar-success {
    background-color: var(--green-success) !important;
}

.snackbar-error {
    background-color: var(--red-error) !important;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.mat-spinner {
    ::ng-deep circle {
        stroke: #33dd82;
    }
}

.btn-rounded {
    width: 100%; 
    border-radius: 1.8rem;
}

.validation-error {
    color: var(--red-error);
    margin-top: -0.8rem;
    margin-bottom: 0;
    text-align: left;
    padding-left: 2.6rem;
    font-size: 0.9rem;
}

.input-helper-text {
    margin-top: -0.8rem;
    margin-bottom: 0;
    text-align: left;
    padding-left: 2.6rem;
    font-size: 0.9rem;
}

.back-button {
    margin-top: 0.5rem;
    color: var(--white);
}

.add-button-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
}

.add-button {
    width: 6rem;
    font-size: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button i {
    margin-right: 0.05rem;
}