<div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="85"></mat-spinner>
</div>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="../../../assets/img/horaplus-visual-identity-icons-1"
                    class="img-fluid" style="border-radius: 1rem;" width="80%" height="80%" alt="HoraPlus visual identity">
            </div>
            <div class="m-0 col-md-4 col-lg-4 col-xl-4 offset-xl-1">
                <h4 class="card-title title-autentication mb-4">Acesse sua conta</h4>
                <form [formGroup]="loginForm" #formDir="ngForm">
                
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-envelope"></span>
                        </div>
                        <input [formControl]="email" type="email" class="form-control" placeholder="E-mail" id="inputEmail"
                            [ngClass]="{ 'is-invalid': email.invalid && formDir.submitted }">
                    </div>
                
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-key"></span>
                        </div>
                        <input type="password" class="form-control" id="inputPassword" [formControl]="password" placeholder="Senha"
                            aria-label="Senha" [ngClass]="{ 'is-invalid': email.invalid && formDir.submitted }">
                        <button type="button" class="btn btn-outline-secondary eye-button" (click)="togglePassword()">
                            <span class="bi eye-icon" [ngClass]="{'bi-eye-slash': !showPassword, 'bi-eye': showPassword}"></span>
                        </button>
                    </div>
                    <div class="row validation-error" *ngIf="wrongCredentials">
                        <p>{{ wrongCredentialsLabel }}</p>
                    </div>
                
                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="remember" id="checkboxLembrar" />
                            <label class="form-check-label" for="checkBoxLembrar"> Lembrar de mim </label>
                        </div>
                        <a href="#!">Esqueceu a senha?</a>
                    </div>
                
                    <div class="text-center mt-3 mb-4">
                        <button type="submit" (click)="login()" class="btn btn-primary btn-rounded">
                            Entrar
                        </button>
                    </div>
                
                    <div class="divider d-flex align-items-center mb-2">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OU</p>
                    </div>
                
                    <div>
                        <p>Ainda não possui uma conta?
                            <a routerLink="/signup" class="btn btn-link link-horaplus">Cadastre-se</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
