

<div class="mb-3 input-group">
    <div class="input-group-text">
        <span class="bi bi-file-text"></span>
    </div>
    <input 
        matInput
        [formControl]="inputControl" 
        type="text"
        class="form-control" 
        placeholder={{placeholder}}
        id="inputAutocomplete {{placeholder}}" 
        [matAutocomplete]="auto"
        [ngClass]="{ 'is-invalid': inputControl.invalid && formDir.submitted }"
    >
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option[displayProperty] }}
        </mat-option>
      </mat-autocomplete>
</div>