<div class="card-list" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <mat-card *ngFor="let item of items" class="extrahour-card" [id]="item.uid" [hidden]="isLoading">
        <mat-card-actions *ngIf="showActions">
            <button class="card-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options" title="Ações">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Deletar</span>
                </button>
            </mat-menu>
        </mat-card-actions>
        <mat-card-header>
            <mat-card-title>
                <div class="card-header">
                    <h5 class="card-title m-2 mb-2 mt-0">{{ cardTitle }}</h5>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="card-body pt-0 mt-2">
                <div class="card-widget">
                    <div class="mt-3">
                        <p class="card-text-info"><b>{{titleLabel}}:</b> {{item[titleProperty]}}</p>
                        <p class="card-text-info"><b>{{tag1Label}}:</b> {{ item[tag1Property].title }}</p>
                        <p class="card-text-info"><b>{{tag2Label}}:</b> {{ item[tag2Property].title }}</p>
                    </div>
                    <div>
                        <a routerLink="/extrahours/view/{{ item.uid }}" class="btn btn-sm btn-view">Visualizar</a>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>