<div>
    <div class="loading-spinner" *ngIf="isLoading">
        <mat-spinner [diameter]="85"></mat-spinner>
    </div>
    <div class="row">
        <app-breadcrumb></app-breadcrumb>
        <div class="add-button-container">
            <button class="btn btn-primary add-button" (click)="changeActiveRoute('daysoff/add')"><i class="bi bi-plus"></i>Novo</button>
        </div>
        <div class="card-body" *ngIf="!isLoading && daysOff.length > 0">
            <div class="row col-md-12" style="padding: 40px">
                <app-card-info-date 
                    [items]="daysOff" 
                    [totalItems]="totalDaysOff"
                    [currentPage]="currentPage" 
                    [pageSize]="pageSize" 
                    [isLoading]="isLoading"
                    [showActions]="showActions"
                    [itemModelName]="'daysoff'"
                    [editItemHandler]="editDayOffHandler"
                    [deleteItemHandler]="deleteDayOffHandler">
                </app-card-info-date>
                
                <mat-paginator
                    id="mat-paginator-bottom" 
                    [length]="totalDaysOff" 
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 50]" 
                    [pageIndex]="currentPage - 1" (page)="onPageChange($event)"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
        <div *ngIf="!isLoading && daysOff.length === 0" class="no-items-section">
            <span>Nenhuma <b> folga </b> encontrada.</span>
        </div>
    </div>
</div>