<div class="loading-overlay" *ngIf="isLoading"></div>
<div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="85"></mat-spinner>
</div>
<div>
    <app-breadcrumb></app-breadcrumb>
    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-4 text-center form-card">
            <form [formGroup]="employeeForm" #formDir="ngForm" (submit)="formDir.valid && addEmployee()">
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-chat-square-text"></span>
                        </div>
                        <input 
                            [formControl]="name"
                            [ngClass]="{ 'is-invalid': name.invalid && formDir.submitted }" 
                            type="text" 
                            class="form-control"
                            placeholder="Nome"
                            id="name"
                        >
                    </div>
                    <div class="row validation-error" *ngIf="name.invalid && formDir.submitted">
                        <p>O nome é obrigatório.*</p>
                    </div>

                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-file-text"></span>
                        </div>
                        <input 
                            [formControl]="department"
                            [ngClass]="{ 'is-invalid': department.invalid && formDir.submitted }"
                            type="text"
                            class="form-control"
                            placeholder="Setor"
                            id="department"
                        >
                    </div>
                    <div class="row validation-error" *ngIf="department.invalid && formDir.submitted">
                        <p>O setor é obrigatório*</p>
                    </div>
                    
                    <app-input-autocomplete [options]="roles" [placeholder]="'Cargo'" [inputControl]="roleControl"></app-input-autocomplete>
                    <div class="row validation-error" *ngIf="role.invalid && formDir.submitted">
                        <p>O cargo é obrigatório*</p>
                    </div>

                    <div class="pt-4">
                        <button type="submit" class="btn btn-primary btn-rounded">
                            Adicionar
                        </button>
                        <button class="btn btn-outline-secondary btn-rounded back-button" (click)="changeActiveRoute('extrahours')">
                            Voltar
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>