<div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="85"></mat-spinner>
</div>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="../../../assets/horaplus-square-logo.png"
                    class="img-fluid" style="border-radius: 1rem;" width="80%" height="80%" alt="HoraPlus visual identity">
            </div>
            <div class="m-0 col-md-4 col-lg-4 col-xl-4 offset-xl-1">
                <h4 class="card-title title-autentication mb-4">Crie sua conta no HoraPlus!</h4>
                <form [formGroup]="registerForm" #formDir="ngForm" (ngSubmit)="formDir.valid && signUp()">
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-person"></span>
                        </div>
                        <input [formControl]="name" type="text" class="form-control" placeholder="Nome completo"
                            [ngClass]="{ 'is-invalid': name.invalid && formDir.submitted }" id="name">
                    </div>
                    <div class="row validation-error" *ngIf="name.invalid && formDir.submitted">
                        <p>O nome é obrigatório*</p>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-envelope"></span>
                        </div>
                        <input [formControl]="email" [ngClass]="{ 'is-invalid': (email.invalid || emailAlreadyExists) && formDir.submitted }"
                            type="email" class="form-control" placeholder="E-mail" id="email">
                    </div>
                    <div class="row validation-error" *ngIf="(email.invalid || emailAlreadyExists) && formDir.submitted">
                        <p>{{ emailInvalidLabel }}</p>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-key"></span>
                        </div>
                        <input [formControl]="password" type="password" class="form-control inputPassword" id="password"
                            placeholder="Senha" [ngClass]="{ 'is-invalid': password.invalid && formDir.submitted }">
                    </div>
                    <div class="row validation-error" *ngIf="password.invalid && formDir.submitted">
                        <p>{{ passwordInvalidLabel }}</p>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-key"></span>
                        </div>
                        <input [formControl]="confirmPassword" type="password" class="form-control inputConfirmPassword"
                            id="confirmPassword" placeholder="Confirme a senha" aria-label="Confirme a Senha"
                            [ngClass]="{ 'is-invalid': confirmPassword.invalid && !password.invalid && confirmPassword.value && formDir.submitted }">
                        <button type="button" class="btn btn-outline-secondary eye-button"
                            (click)="toggleConfirmPassword()">
                            <span class="bi eye-icon"
                                [ngClass]="{'bi-eye-slash': !showConfirmPassword, 'bi-eye': showConfirmPassword}"></span>
                        </button>
                    </div>
                    <div class="row validation-error" *ngIf="confirmPassword.invalid && !password.invalid && confirmPassword.value && formDir.submitted">
                        <p>A confirmação não bate com a senha*</p>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary btn-rounded">
                            Cadastrar
                        </button>
                    </div>
                    <div class="text-center mt-3">
                        <a class="btn btn-outline-secondary" routerLink="/login"
                            style="width: 100%; border-radius: 30.4px;">
                            Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>